# Virtualenv
venv/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# VS Code
.vscode/

# Logs
*.log

# Environment / secrets
.env
*.env

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Test / coverage
.pytest_cache/
.coverage

# Data files (opcional)
*.csv
*.xlsx

